body {
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
	color: #27272B;
}
h1 span, h2 span {
	color: #777;
}

button {
	background: #279;
	border: 2px solid #279;
	color: #FFF;
	padding: 20px 40px;
	margin: 10px;
	border-radius: 3px;
}
button:hover {
	position: relative;
	top: -1px;
	left: -1px;
	background: #389;
}
button:active {
	position: relative;
	top: 1px;
	left: 1px;
	background: #168;
	color: #FFF;
}
button:focus {
	outline: 0px;
}