body {
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
	color: #27272B;
}
h1 span, h2 span {
	color: #777;
}

button {
	background: #279;
	border: 2px solid #279;
	color: #FFF;
	padding: 20px 40px;
	margin: 10px;
	border-radius: 3px;
}
button:hover {
	position: relative;
	top: -1px;
	left: -1px;
	background: #389;
}
button:active {
	position: relative;
	top: 1px;
	left: 1px;
	background: #168;
	color: #FFF;
}
button:focus {
	outline: 0px;
}

table {
	margin: 25px auto;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #eee;
	border-bottom: 2px solid #279;
}
table tr:hover {
	background: #f4f4f4;
}
table tr:hover td {
 	color: #555;
}
table th, table td {
	color: #999;
	border: 1px solid #eee;
	padding: 15px;
	border-collapse: collapse;
}
table th {
	background: #279;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
table th.last {
	border-right: none;
}